<!-- Footer sticky -->

<footer class="footer pt-4 mt-auto footer-light" style="background-color: #e3f2fd;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-title">Acerca de Factufast</h3>
                <p>Factufast es una plataforma de facturación electrónica que permite a las empresas emitir sus facturas de manera rápida y sencilla.</p>
                <p>Con Factufast podrás emitir tus facturas en segundos y enviarlas a tus clientes por correo electrónico.</p>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Contacto</h3>
                <ul class="list-unstyled">
                    <li><a href="mailto:cristian.o.rincon.b@gmail.com" class="text-reset text-decoration-none"><i class="bi bi-mailbox"> cristian.o.rincon.b@gmail.com</i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/cristian-rincon/" target="_blank" class="text-reset text-decoration-none"><i class="bi bi-linkedin"> cristian-rincon</i></a></li>
                    <li><a href="https://github.com/cristian-rincon" target="_blank" class="text-reset text-decoration-none"><i class="bi bi-github"> cristian-rincon</i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Legal</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-reset text-decoration-none">Política de privacidad</a></li>
                    <li><a href="#" class="text-reset text-decoration-none">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
                    

