{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!-- Modal -->
<div class="row my-5">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card my-5">
            <div class="card-body">
                <h1>New Client</h1>
        
                <form class="" method="post">
                    {% csrf_token %}
                
                    {{ form | crispy }}
                
                    <a class="btn btn-secondary" href="{% url 'invoices:clients' %}">back</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}