{% extends "base.html" %}
{% block head_title %}{% translate "Products List" %}{% endblock %}
{% block content %}


<h1 class="my-5 pt-5">Products list</h1>



<div class="container">

  {% if products|length > 0 %}
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Product Title</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price/per Unit</th>
          <th scope="col">Currency</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        {% for product in products %}
        <tr>
          <td> <a href="{% url 'invoices:product_detail' slug=product.slug %}">{{product.title}}</a></td>
          <td>{{product.description}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price}}</td>
          <td>{{product.currency}}</td>
          <td>
            <a class="btn btn-primary btn-sm rounded-circle" href="{% url 'invoices:update_product' slug=product.slug %}"><i class="bi bi-pencil-square"></i></a>

          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8 text-center">
      <img src="{{ MEDIA_URL }}/placeholders/undraw_No_data_re_kwbl.png" alt="" srcset="" style="max-width: 50%;">
      <h3>Add the First Product</h3>
      <a class="btn" href="{% url 'invoices:create_product' %}"><i class="bi bi-plus-circle-fill text-primary" style="font-size: 3.5rem;"></i></a>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  {% endif %}
  <a class="btn" href="{% url 'invoices:create_product' %}"><i class="bi bi-plus-circle-fill text-primary" style="font-size: 1.5rem;"></i></a>
</div>



{% endblock content %}
