{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="card mt-5">
        
        <div class="card-body">
            <h5 class="card-title">{% translate "Password Reset" %}</h5>
                <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="{% translate 'Reset My Password' %}" />
                </form>
            
                <p>{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
        </div>
    </div>
    <img src="{{MEDIA_URL}}/placeholders/undraw_Forgot_password_re_hxwm.png" alt="" class="card-img-top">
{% endblock %}
