{% extends "base.html" %}

{% block content %}

<!-- About Factufast -->

<div class="container mt-5 pt-5">

    <h1>About Factufast</h1>
    <p>Factufast is a web application that allows you to create invoices and send them to your customers. It is a free service, and you can use it as much as you want.</p>
    <p>Factufast is a project created by <a href="https://www.linkedin.com/in/cristian-rincon/">Cristian Orlando Rincón Bonilla</a>.</p>

    <p>This project was originally created to Project Management subject from Poligran</p>
</div>

{% endblock content %}
